#dark_mode_button {
    color: black;
}

.body_content {
    padding-top: 1rem;
    margin: auto;
    width: 80vw;
    margin-bottom: 4rem;
}

.message {
    color: red;
}

#image_preview {
    margin-bottom: 2rem;
}



.dark_primary {
    color: darkblue;
}

.dark_secondary {
    color: blue;
}

.light_primary {
    color: beige;
}

.light_secondary {
    color: orange;
}