#dark_mode_button {
    color: black;
}

.body_content {
    padding-top: 1rem;
    margin: auto;
    width: 80vw;
    margin-bottom: 4rem;
}

.filter_dropdown {
    display: inline-block;
}

.index_image {
    min-width: 10rem;
    width: 12rem;
    height: 12rem;
    object-fit:scale-down;
}


.mangapage_image {
    width: 30rem;
    height: 30rem;
    object-fit: scale-down;
}

.message {
    color: red;
}

.pageuser_icon {
    width: 20rem;
    height: 20rem;
    object-fit: scale-down;
}

#image_preview {
    margin-bottom: 2rem;
}



.dark_primary {
    color: darkblue;
}

.dark_secondary {
    color: blue;
}

.light_primary {
    color: beige;
}

.light_secondary {
    color: orange;
}