{% extends "mangaweb/layout.html" %}
{% block title %}- Add Manga{% endblock %}
{% block body %}
<h2>Create a new manga entry</h2>
{% if message %}
    <h3 class="message">{{ message }}</h3>
{% endif %}
<form action="{% url 'addmanga' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <label for="manga_name" class="form-label">Manga name</label>
        <input type="text" name="manga_name" class="form-control" required placeholder="Name">
        <span class="form-text">Max characters: 50</span>
    </div>
    <div class="mb-3">
        <label for="genres" class="form-label">Genres</label>
        <select class="form-select" size="5" multiple name="genres">
            {% for genre in genres %}
            <option value="{{ genre }}">{{ genre }}</option>
            {% endfor %}
          </select>
          <span class="form-text">CTRL+ left click to choose multiple genres</span>
    </div>
    <div class="mb-3">
        <label for="custom-genres" class="form-label">Custom genres</label>
        <input type="text" name="custom_genre" class="form-control" placeholder="Genre1, genre2, genre3, etc">
        <span class="form-text">Use a comma to separate each genre</span> <br>
        <span class="form-text">Use this if the genre you want is not available, genre name shouldnt be larger than 20 characters</span> <br>
        <span class="form-text">Creating unecessary or problematic genre names will lead to ban</span>
    </div>
    <div class="mb-3">
        <label for="status" class="form-label">Manga status</label>
        <select class="form-select" name="status" required>
            <option value="" disabeld selected>Select a status for your manga</option>
            <option value="F">Finished</option>
            <option value="R">Releasing</option>
            <option value="N">Not released</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="formFile" class="form-label">Manga thumbnail</label>
        <input class="form-control" type="file" name="thumb" accept="image/*" id="image_input">
        <span class="form-text">Max image size: 5MB</span>
    </div>
    <div id="image_preview" class="container text-center"></div>
    <input class="btn btn-primary" type="submit" value="Submit manga entry">
</form>
{% endblock %}