{% extends "mangaweb/layout.html" %}
{% block title %}- Add Manga{% endblock %}
{% block body %}
<h2>Create a new manga entry</h2>
{% if message %}
    <h3 class="message">{{ message }}</h3>
{% endif %}
<form action="{% url 'addmanga' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <label for="manga_name" class="form-label">Manga name</label>
        <input type="text" name="manga_name" class="form-control" id="manga_name" required placeholder="Name">
        <span class="form-text">Max characters: 50</span>
    </div>
    <div class="mb-3">
        <label for="genres" class="form-label">Genres - optional</label>
        <select class="form-select" size="5" multiple name="genres" id="genres">
            {% for genre in genres %}
            <option value="{{ genre }}">{{ genre }}</option>
            {% endfor %}
          </select>
          <span class="form-text">CTRL+ left click to choose multiple genres</span>
    </div>
    <div class="mb-3">
        <label for="custom-genres" class="form-label">Custom genres - optional</label>
        <input type="text" name="custom_genre" class="form-control" id="custom-genres" placeholder="Genre1, genre2, genre3, etc">
        <span class="form-text">Use a comma to separate each genre</span> <br>
        <span class="form-text">Use this if the genre you want is not available, genre name shouldnt be larger than 20 characters</span> <br>
        <span class="form-text">Creating unecessary or problematic genre names will lead to ban</span>
    </div>
    <div class="mb-3">
        <label for="status" class="form-label">Manga status</label>
        <select class="form-select" name="status" required id="status">
            <option value="" disabled selected>Select a status for your manga</option>
            <option value="F">Finished</option>
            <option value="R">Releasing</option>
            <option value="N">Not released</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="sinopse" class="form-label">Sinopse</label>
        <textarea class="form-control" name="sinopse" id="sinopse"></textarea>
        <span class="form-text">Max 300 characters</span><br>
        <span id="counter"></span>
    </div>
    <div class="mb-3">
        <label for="releasedate" class="form-label">Release date - optional</label>
        <input type="date" class="form-control" name="releasedate" id="releasedate">
        <span class="form-text">If not released yet, can be an expected release date</span>
    </div>
    <div>
        <label for="enddate" class="form-label">End date - optional</label>
        <input type="date" class="form-control" name="enddate" id="enddate">
        <span class="form-text">If still releasing, can be the expected end date</span>
    </div>
    <div class="mb-3">
        <label for="image_input" class="form-label">Manga thumbnail - optional</label>
        <input class="form-control" type="file" name="thumb" accept="image/*" id="image_input">
        <span class="form-text">Max image size: 5MB</span>
    </div>
    <div id="image_preview" class="container text-center"></div>
    <input class="btn btn-primary" type="submit" value="Submit manga entry">
</form>
{% endblock %}