{% extends "mangaweb/layout.html" %}
{% block title %}- {{ manga.name }} {{ chapter.chapter_number }}{% endblock %}
{% block body %}
{% if user.is_authenticated %}
<data id="view" hidden>{% url 'visualization' chapter.manga.id chapter.chapter_number %}</data>
{% endif %}
<div class="container text-center">
    <div class="row align-items-center justify-content-center">
        <div class="col-1">
            <button class="btn btn-primary" id="next_button">Next</button>
        </div>
        <div class="col-10" id="page_view">
            {% if data.next %}
                <a href="{% url 'mangaread' chapter.manga.id chapter.chapter_number|add:'1' %}" id="next" class="chapter_button">Next chapter</a>
            {% else %}
                <p id="next" class="chapter_button">Next chapter not released yet or missing</p>
            {% endif %}
            {% for pages in chapter.pages.all %}
                <img src="{{ pages.page_content.url }}" class="page_read">
            {% endfor %}
            {% if data.previous %}
                <a href="{% url 'mangaread' chapter.manga.id chapter.chapter_number|add:'-1' %}" id="previous" class="chapter_button">Previous chapter</a>
            {% else %}
                <p id="previous" class="chapter_button">No previous chapter</p>
            {% endif %}
        </div>
        <div class="col-1">
            <button class="btn btn-primary" id="previous_button">Previous</button>
        </div>
    </div>
</div>
{% endblock %}