{% extends "mangaweb/layout.html" %}
{% load static %}
{% block title %}- {{ manga.name }}{% endblock %}
{% block body %}
<h2>{{ manga.name }}</h2>
<div class="container">
    <div class="row">
        <div id="mangapage_thumb"><img src="{{ manga.thumb.url }}" alt="{{ manga.name }} Thumbnail" class="img-fluid"></div>
        <div id="mangapage_content">
            <div>Author: {{ manga.author }}</div>
            <div>Genres:
                <ul>
                    {% for genre in manga.genres.all %}
                        <li>{{ genre }}</li>
                    {% empty %}
                        <li>No genre specified</li>
                    {% endfor %}
                </ul>
            </div>
            <div>Status: {{ manga.get_status_display }}</div>
            <div>Release date: 
                {% if manga.releasedate and manga.status != "N" %}
                    {{ manga.releasedate }}
                {% elif manga.releasedate %}
                    To be released in {{ manga.releasedate }}
                {% elif manga.status == "N" %}
                    Not released
                {% else %}
                    Not specified
                {% endif %}
            </div>
            {% if manga.enddate %}
            <div>End date: {{ manga.enddate }}</div>
            {% endif %}
            <div>Views: {{ manga.views|add:'+1' }}</div>
            <div id="likes">Likes: {{ manga.likes.count }}</div>
            {% if user.is_authenticated %}
                <div><button class="btn btn-primary" id="like_button" value="{% url 'mangalike' manga.id %}"></button></div>
            {% endif %}
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
    {% for chapter in manga.chapters.all %}
        <div class="col"><a href="{% url 'mangaread' manga.id chapter.chapter_number %}" 
            {% if user.is_authenticated and user in chapter.read.all %} class="btn btn-dark"
            {% else %} class="btn btn-primary"{% endif %}>{{ chapter.chapter_number|stringformat:"04d" }}</a></div>
    {% empty %}
        No chapters released
    {% endfor %}
    </div>
</div>
<script src="{% static 'mangaweb/mangapage.js' %}"></script>
{% endblock %}